<?xml version="1.0" encoding="utf-8"?><!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:mysql://192.168.1.8:3308/db</property>
        <property name="connection.username">user</property>
        <property name="connection.password">password</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- hold ctrl and click on dialect to see al the available dialects -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!--useful for debugging-->
        <property name="show_sql">false</property>

        <property name="format_sql">false</property>
        <!--the create property rebuilds the db from the beginning everytime-->
        <!--update appends -->
        <property name="hbm2ddl.auto">create</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>
        <property name="current_session_context_class">thread</property>

        <mapping class="com.jimmy.Entities.Employee" />
        <mapping class="com.jimmy.Entities.Department" />

    </session-factory>
</hibernate-configuration>